{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Hero Image Section -->
<div class="hero-section position-relative">
    <img src="{% static 'img/blog1.jpg' %}" alt="Hero Image" class="img-fluid w-100" style="height: 400px; object-fit: cover;">

</div>

 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="{% static 'img/about-1.jpg' %}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="{% static 'img/about-2.jpg' %}" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="{% static 'img/about-3.jpg' %}" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="{% static 'img/about-4.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">PRIMELOCUM HEALTHCARE Is Dedicated healthcare staffing solution provider</h1>
                <p class="mb-4">
                    We specialize in guiding healthcare professionals toward fulfilling careers. With precision and care, we meticulously match talent with opportunities, ensuring each step leads to success. We provide temporary, locum, and agency staffing to both private and public hospitals, focusing on critical areas such as Operating Theatre, Anaesthetic Technicians, and Recovery Room Practitioners.</p>                
                <p><i class="fa fa-check text-primary me-3"></i>Expertise we offer Perfect All-Inclusive Services Tailored to Propel Your Organisation Forward.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Super Fast Jobs Search Agency Delivery
                    Swift job placement connecting qualified candidates with top opportunities for rapid career advancement</p>
                <!-- <p><i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> -->
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% endblock %}
